nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: rgb(59, 59, 61);
    transition: 0.1s ease;
}

/* HIDE HAMBURGER BY DEFAULT ON THE BIG SCREEN*/

.hamburger-wrapper{
    display: none;
}
.nav-items .nav-links{
    font-size: 17px;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-items .nav-links:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(47, 46, 65);
    border-radius: 2px;
}

.logo-wrapper .logo{
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}



/* MEDIA QUERY*/
@media{max-width: 980px;
    main{
        /* background-color: red; */
        padding: 100px 20px;
    }
    

    @media(max-width: 900px){
        nav{
            display: flex;
            justify-content: space-between;
            padding: 20px 50px;
        }
    
       .hamburger-wrapper{
           display: block;
           color: rgb(255, 255, 255);
           cursor: pointer;
           font-size: 25px;
       } 
    
       .nav-items{
           display: none;
       }
    
       .open-nav-items{
           display: flex ;
           flex-direction: column;
           margin-top: 30px;
           width: 100px;
       }
       .nav-links{
           text-align: right;
       }
    
     